<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 바코드 인식</title>
</head>
<body>
  <div id="wrap">
    <div class="title-container">
      <button class="go-prev">&lt;</button>
      <h1 class="title">주문/결제</h1>
    </div>
    <div class="text_container">결제 QR또는 바코드를<br><span style="color: red;">빨간색 네모</span>안에 보여주세요. </div>
    <div class="cam-container">
      <canvas id = "canvas"></canvas>
      <video autoplay id="barcode-cam"></video>
    </div>
  </div>
</body>
<script>
<!-- Domexception : Request deivice not found 에러 해결이 안됨.. 왜지-->
  const cam = document.getElementById('barcode-cam');

  const startVid = () => navigator.getUserMedia(
          { video: {} },
          stream => cam.srcObject = stream,
          err => console.error(err)
  );
  startVid();
</script>
</html>