<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 완료</title>
</head>
<body>
  <div id="wrap">
    <div class="title-container">
      <h1 class="title">주문 완료</h1>
    </div>
    <hr class="divide-area">
    <div class="text_area">
      <p class="success_text">주문이 정상적으로 <br>완료되었습니다.</p>
    </div>
    <div class="order_result-container">
      <p class="sec_title"> 최종 결제 금액 </p>
      <hr class="divide-info">
      <div class="price_list">
        <p class="all_price" th:text="'총 상품 금액 : '${price}"></p>
<!--        <p class="discount_price">할인 금액: </p>-->
      </div>
    </div>
    <div class="btn-container">
      <button class="continue_btn">쇼핑 계속하기</button>
    </div>
  </div>
</body>
</html>