# java 버전이 달라서 build.gradle도 수정도 포함하지 않기로 함
build.gradle
application.yml
HELP.md
.gradle
build/
gradle/wrapper/gradle-wrapper.jar
**/src/main/**/build/
**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/generated/
