<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>테스트</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/test-start.css">
</head>

<body>
  <div id="wrap">
    <header>
      <div class="title-container">
        <button class="go-prev">&lt;</button>
        <h1 class="title">테스트</h1>
      </div>
      <div class="top-button-container">
        <button class="go-cart" title="https://www.freepik.com"></button>
      </div>
    </header>
    <div class="btn-container">
      <button class="cart-test-btn select-btn">
        장바구니 상품 테스트
      </button>
      <button class="search-btn select-btn">
        검색해서 테스트
      </button>
    </div>
  </div>

  <script>
    const goPrevBtn = document.querySelector('.go-prev');
    const cart = document.querySelector('.go-cart');
    const cartTestBtn = document.querySelector('.cart-test-btn');
    const searchBtn = document.querySelector('.search-btn');

    goPrevBtn.addEventListener('click', () => { history.back(); });
    cart.addEventListener('click', () => {
      location.href = `/cartList/${localStorage.getItem('store_id')}`;
    });

    // 장바구니 테스트 페이지 현재 없음
    cartTestBtn.addEventListener('click', () => location.href = '/barcode');
    searchBtn.addEventListener('click', () => location.href = '/searchVoice');

  </script>
</body>

</html>