<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--무슨 화면-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/category-part.css">
    <link rel="stylesheet" href="/css/animation.css">
    <title></title>
    <script src="/js/category_list.js"></script>
</head>
<body>
<div id="wrap">
    <header>
        <div class="title-container">
            <button class="go-prev">&lt;</button>
        </div>
        <div class="top-button-container">
            <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
            <button class="go-cart" title="https://www.freepik.com"></button>
        </div>
    </header>
    <div class="mid-category">

    </div>
    <div class="small-category">
        <div class="cat-button-container">

        </div>
    </div>
    <button class="fold fold-btn">^</button>
    <div class="item-container">
        <button class="item-btn item-prev-btn">&lt;</button>
        <div class="item-row-container">
            <!--
             th:each="item, index : ${item}"
                item : com.dayang.miki.domain.Item@3a8c0897
                index : {index = 0, count = 1, size = 80, current = com.dayang.miki.domain.Item@3a8c0897}
            -->
<!--            <div class="item-row" th:if="${index.index} < 2">-->
<!--                <div class="item-card">-->
<!--                    <span th:text="${item.name}"></span>-->
<!--                    <span th:text="${index}"></span>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <button class="item-btn item-next-btn">&gt;</button>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    /*[# th:each="tmp : ${item}"]*/
    noti(/*[[${tmp.name}]]*/, /*[[${tmp.item_price}]]*/);
    /*[/]*/

    /*]]>*/

    function noti(testValue, tmpValue){
        console.log(testValue, tmpValue);
    }
</script>

<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    window.onload = () => {-->
<!--        const itemList = /*[[ ${item[0].name} ]]*/;-->
<!--        console.log(itemList);-->
<!--    };-->
<!--    /*]]>*/-->
<!--</script>-->


<!--<script src='/js/category.js'></script>-->
<!--<script src='/js/getItem.js'></script>-->
</body>
</html>