<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 개별 카테고리 (item 목록이 카드형식으로 배치되어 있는 화면) -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/category-part.css">
    <link rel="stylesheet" href="/css/animation.css">
    <title></title>
    <script src="/js/category_list.js"></script>
</head>
<body>

<div id="wrap">
    <header>
        <div class="title-container">
            <button class="go-prev">&lt;</button>
        </div>
        <div class="top-button-container">
            <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
            <button class="go-cart" title="https://www.freepik.com"></button>
        </div>
    </header>
    <div class="mid-category">

    </div>
    <div class="small-category">
        <div class="cat-button-container">

        </div>
    </div>
    <button class="fold fold-btn">^</button>
    <div class="item-container">
        <p class="maxNum" style="display: none;" th:text="${maxNum}"></p>
        <button th:onclick="'javascript:goPrevPage(' + ${category} + ')'"
           class="item-btn item-prev-btn">
            &lt;
        </button>
<!--        <div class="item-row-container">-->
                <table class="table table-striped item-row-container" style="margin: 0; width: 100%">
                    <tbody style="display: flex; flex-flow: row wrap; justify-content: center;">
                    <tr class="item-card" th:each="item : ${item}"
                        style="width: 225px; margin: 10px;">
                        <td style="display: flex; justify-content: center; align-items: center;" th:onclick="'javascript:goItemPage(' + ${item.id} + ')'">
                            <img th:src="${item.item_img}" class="thumbnail-img" th:alt="${item.name}"></img>
                        </td>
                        <td>
                            <hr class="divide-img-info">
                        </td>
                        <td th:text="${item.name}" class="item-title" th:onclick="'javascript:goItemPage(' + ${item.id} + ')'"></td>
                        <td
                                th:if="${item.item_price} != ${item.discount_price}"
                                th:text="${item.item_price} + '원'"
                                class="origin-price"
                                style="width: 50%; margin: 0 0 -30px 0; padding: 10px 20px;">
                        </td>
                        <td
                                th:text="${item.discount_price} + '원'"
                                class="discount-price"
                                style="width: 50%; margin: 0 0 20px 20px; align-self: flex-end">원</td>
                        <td th:if="${item.is_testable} == 'Y'">
                            <button class="go-test" th:onclick="'javascript:goTestPage(' + ${item.id} + ')'">테스트</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
        <button th:onclick="'javascript:goNextPage(' + ${category} + ')'"
            class="item-btn item-next-btn">&gt;</button>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    /*[# th:each="tmp : ${item}"]*/
    noti(/*[[${tmp.name}]]*/, /*[[${tmp.item_price}]]*/);
    /*[/]*/

    /*]]>*/

    function noti(testValue, tmpValue) {
        console.log(testValue, tmpValue);
    }

    localStorage.setItem('categoryMax', document.querySelector('.maxNum').textContent);
    console.log(localStorage.getItem('categoryMax'));


    const goItemPage = id => location.href = `/item/${id}`;
    const goTestPage = id => location.href = `/test/${id}`;

    const checkFirstPage = page => (page <= 1);
    const checkLastPage = page => page >= Number(localStorage.getItem('categoryMax'));

    const goPrevPage = category => {
        if (checkFirstPage(Number(localStorage.getItem('page')))) {
            console.log('First Page!');
            alert('제일 첫 페이지입니다.');
        } else {
            // location.href = `/category/${category}?page=${Number(URLSearch.get('page')) - 1}`;
            fetch(`/category/${category}?page=${Number(localStorage.getItem('page')) - 1}`)
                .then(res => res.text())
                .then(data => {
                    const wrapContainer = document.getElementById('wrap');
                    const itemRowContainer = document.createElement('div');
                    itemRowContainer.classList += 'item-container';
                    let itemContainer = data.split('<div class="item-container">')[1].split('<script>')[0];
                    itemRowContainer.innerHTML = itemContainer;
                    wrapContainer.removeChild(wrapContainer.lastElementChild);
                    wrapContainer.appendChild(itemRowContainer);
                })
                .catch(e => console.error(e));

            localStorage.setItem('page', Number(localStorage.getItem('page')) - 1);
        }
    }

    const goNextPage = category => {
        if (checkLastPage(Number(localStorage.getItem('page')))) {
            console.log('Last Page!');
            alert('제일 마지막 페이지입니다.');
        } else {
            fetch(`/category/${category}?page=${Number(localStorage.getItem('page')) + 1}`)
                .then(res => res.text())
                .then(data => {
                    const wrapContainer = document.getElementById('wrap');
                    const itemRowContainer = document.createElement('div');
                    itemRowContainer.classList += 'item-container';
                    let itemContainer = data.split('<div class="item-container">')[1].split('<script>')[0];
                    itemRowContainer.innerHTML = itemContainer;
                    console.log(itemContainer);
                    wrapContainer.removeChild(wrapContainer.lastElementChild);
                    wrapContainer.appendChild(itemRowContainer);

                })
                .catch(e => console.error(e));
            localStorage.setItem('page', Number(localStorage.getItem('page')) + 1);
        }
    }
</script>


<script src='/js/category.js'></script>
</body>
</html>