<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- item에서 '상품 상세 설명 보기'를 클릭했을 때 나오는 상세정보 페이지 -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 보기</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/item-detail.css">
  <link rel="stylesheet" href="/css/animation.css">
</head>
<body>
<div id="wrap">
  <header>
    <button class="go-prev">&lt;</button>
    <h1 th:text="${item_name}" class="title"></h1>
  </header>
  <div class="detail-container">
    <button class="item-btn item-prev-btn">&lt;</button>
    <!--    <div class="item-card" th:each="productImg: ${product_img}"-->
    <!--        style="width: 225px; margin: 10px;">-->
    <!--      <img th:src="${productImg.product_img}" class="thumbnail-img" th:alt="${productImg.id}">-->
    <!--    </div>-->
    <div class="btn-container">

    </div>
    <div class="img-container">

    </div>
    <button class="item-btn item-next-btn">&gt;</button>
  </div>
  <footer>
    <p class="put-in-cart">장바구니에 담기</p>
  </footer>
  <div class="modal-container">

  </div>
</div>
<script src="/js/createBtnContainer.js"></script>
<script th:inline="javascript">
  const productImgList = [];
  /*<![CDATA[*/

  const item_id = /*[[ ${item_id} ]]*/;
  const item_isTestable = /*[[ ${item_isTestable} ]]*/;
  const item_name = /*[[ ${item_name} ]]*/;

  /*[# th:each="productImg : ${product_img}"]*/
  productImgList.push(/*[[${productImg.product_img}]]*/);
  /*[/]*/

  /*]]>*/

  localStorage.setItem(`item-id-${item_id}`, 0);
  const productImgLen = productImgList.length;

  // 선택된 옵션의 id, option_id, count가 객체로 들어갈 리스트
  let selectedOptionList = [];

  const btnContainer = document.querySelector('.btn-container');
  createBtnContainer(item_id, item_isTestable).forEach(el =>
          btnContainer.appendChild(el));

  const goPrevBtn = document.querySelector('.go-prev')
  const goItemPrevBtn = document.querySelector('.item-prev-btn');
  const goItemNextBtn = document.querySelector('.item-next-btn');
  const footer = document.querySelector('footer');
  const imgContainer = document.querySelector('.img-container');
  const modalContainer = document.querySelector('.modal-container');
  const wrapContainer = document.getElementById('wrap');
  const storeId = localStorage.getItem('store_id');

  const checkFirstPage = page => (page <= 0);
  const checkLastPage = (page, length) => (Number(page) + 1 >= length);
  const getImg = (num, name) => {
    const detailImg = document.createElement('img');
    detailImg.src = productImgList[num];
    detailImg.alt = name;
    detailImg.classList += `detail-img-${num}`;

    return detailImg;
  }

  imgContainer.appendChild(getImg(localStorage.getItem(`item-id-${item_id}`), item_name));

  goPrevBtn.addEventListener('click', () => { history.back(); });

  goItemPrevBtn.addEventListener('click', () => {
    if (checkFirstPage(Number(localStorage.getItem(`item-id-${item_id}`)))) {
      console.log('First Page!');
      alert('제일 첫 페이지입니다.');
    } else {
      localStorage.setItem(`item-id-${item_id}`, Number((localStorage.getItem(`item-id-${item_id}`))) - 1);
      console.log(localStorage.getItem(`item-id-${item_id}`));
      imgContainer.innerHTML = '';
      imgContainer.appendChild(getImg(localStorage.getItem(`item-id-${item_id}`), item_name));
    }
  });

  goItemNextBtn.addEventListener('click', () => {
    if (checkLastPage(localStorage.getItem(`item-id-${item_id}`), productImgLen)) {
      console.log('Last Page');
      alert('제일 마지막 페이지입니다.');
    } else {
      localStorage.setItem(`item-id-${item_id}`, Number(localStorage.getItem(`item-id-${item_id}`)) + 1);
      console.log(localStorage.getItem(`item-id-${item_id}`));
      imgContainer.innerHTML = '';
      imgContainer.appendChild(getImg(localStorage.getItem(`item-id-${item_id}`), item_name));
    }
  });

  footer.addEventListener('click', () => {
    modalContainer.style.display = 'flex';
    const script = document.createElement('script');

    if (wrapContainer.lastElementChild.tagName !== 'SCRIPT') {
      fetch(`/item/${storeId}/${item_id}/item_option`)
              .then(res => res.text())
              .then(data => {
                const optionContainer = data.split('<body>')[1].split('<script>')[0];
                const scriptText = data.split('<script>')[1].split('//')[0];
                modalContainer.innerHTML = optionContainer;
                script.innerHTML = scriptText;
                wrapContainer.appendChild(script);
              })
              .catch(e => console.error(e));
    }
    try {
      if (modalContainer.children[1].children[1].children[1].lastElementChild.children[0].hasChildNodes()) {
        /* 계속 쇼핑 / 장바구니 가기 모달 추가로 띄우기 필요 */
        //뭐야..???
        selectedOptionList.forEach(option => {
          // console.log(option);
          fetch(`/cart`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(option)
          })
                  .then(res => res.json())
                  .then(data => {
                    console.log(data);
                    alert('장바구니에 담겼습니다.');
                    setTimeout(() => location.reload(), 0);
                  })
                  .catch(e => console.error(e));
        });

      }

        modalContainer.style.display = 'none';
        modalContainer.innerHTML = '';
        wrapContainer.lastElementChild.remove();
        script.innerHTML = '';
    } catch (e) {
      console.error(e);
    }
  });

</script>
<script src="/js/itemDetailModal.js"></script>
</body>
</html>