<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- 카테고리 페이지에서 상품을 선택했을 때 표시되는 상품 페이지 -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/item.css">
</head>
<body>
<div id="wrap">
  <header>
    <div class="title-container">
      <button class="go-prev">&lt;</button>
      <h1 class="title">상품</h1>
    </div>
    <div class="top-button-container">
      <button class="go-cart" title="https://www.freepik.com"></button>
    </div>
  </header>
  <div class="img-container">
    <img class="item-img">
  </div>
  <div class="info-container">
    <h3 class="item-title"></h3>
    <div class="price-container">
      <p
              class="origin-price"
      ></p>
      <p class="discount-price"></p>
    </div>
    <div class="rate-container">
      <span class="review-rate" id="review-rate-text"></span>
      <span class="review-rate review"></span>
    </div>
  </div>
  <footer>
    <p class="go-info">상품 상세 설명 보기</p>
  </footer>
</div>
<script src="/js/createBtnContainer.js"></script>
<script>
  const url = location.pathname.split('/')[2];
  fetch(`/dev/item/${url}`)
          .then(res => res.text())
          .then(data => {
            console.log(data);
            data = JSON.parse(data);

            const item_id = data.Item.itemId;
            const item_isTestable = data.Item.itemTestable;
            // 추가해달라고 요청해야함 const review_rate;  // 추가 후 수정필요한부분
            const item_name = data.Item.itemName;
            const item_price = data.Item.itemPrice;
            const item_discountPrice = data.Item.itemDiscountPrice;
            const item_img = data.Item.itemImage;
            console.log(item_img);

            const img_src = document.querySelector('.item-img');
            img_src.src = item_img;
            const title = document.querySelector('.item-title');
            title.textContent = item_name;

            if(item_price != item_discountPrice){
              document.querySelector('.origin-price').textContent = `${item_price} 원`;
            }
            document.querySelector('.discount-price').textContent = `${item_discountPrice} 원`;



            localStorage.setItem('c_item_id',item_id);
            localStorage.setItem('c_item_name',item_name);
            localStorage.setItem('c_item_isTestable',item_isTestable);



            const footer = document.querySelector('footer');
            footer.addEventListener('click', () => location.href = `/item/${item_id}/detail`);

            const getItemInfoElList = (item_id, item_isTestable) => {
              const btnContainer = document.createElement('div');
              btnContainer.classList += 'btn-container';
              createBtnContainer(item_id, item_isTestable).forEach(el =>
                      btnContainer.appendChild(el));

              return btnContainer;
            }

            const infoContainer = document.querySelector('.info-container');
            infoContainer.appendChild(getItemInfoElList(item_id, item_isTestable));
          })

  fetch(`/dev/item/${url}/reviewCnt`)
          .then(res => res.text())
          .then(data => {
            console.log(data);
            r_data = JSON.parse(data);

            const review_count = r_data.size;
            const review_rate = r_data.rate;
            // 추가 후 수정필요한부분
            document.querySelector('#review-rate-text').textContent = `⭐${review_count}  `;
            // 추가 후 수정필요한부분
            const reviewSpan = document.querySelector('.review');
            reviewSpan.textContent = (review_rate === 'NaN') ? `(0)` : `(${review_rate.toFixed(1)})`;
          })

</script>
<script src="/js/item.js"></script>
</body>
</html>