
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/item-detail.css">
</head>
<body>
<div id="wrap">
  <header>
    <button class="go-prev">&lt;</button>
    <h1 class="title"></h1>
  </header>
  <div class="detail-container">
    <button class="item-btn item-prev-btn">&lt;</button>
    <div class="btn-container">

    </div>
    <div class="img-container">

    </div>
    <button class="item-btn item-next-btn">&gt;</button>
  </div>
  <footer>
    <p class="put-in-cart">장바구니에 담기</p>
  </footer>
  <div class="modal-container">

  </div>
</div>
<script src="/js/createBtnContainer.js"></script>
<script src="/js/itemDetailModal.js"></script>
<script src="/js/itemDetail.js"></script>
</body>
</html>