<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/item.css">
</head>
<body>
<div id="wrap">
  <header>
    <div class="title-container">
      <button class="go-prev">&lt;</button>
      <h1 class="title">상품</h1>
    </div>
    <div class="top-button-container">
      <button class="go-cart" title="https://www.freepik.com"></button>
    </div>
  </header>
  <div class="img-container">

  </div>
  <div class="info-container">

  </div>
  <footer>
    <p class="go-info">상품 상세 설명 보기</p>
  </footer>
</div>
<script src="/js/createBtnContainer.js"></script>
<script src="/js/item.js"></script>
</body>
</html>