<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/category-part.css">
  <link rel="stylesheet" href="./css/animation.css">
  <title>메이크업</title>
</head>
<body>
  <div id="wrap">
    <!-- class header -->
    <header>
      <div class="title-container">
        <button class="go-prev">&lt;</button>
        <h1 class="title">메이크업</h1>  
      </div>
      <div class="top-button-container">
        <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
        <button class="go-cart" title="https://www.freepik.com"></button>  
      </div>
    </header>
    <div class="mid-category">
      <button class="mid-btn cat">립</button>
      <button class="mid-btn cat">베이스</button>
      <button class="mid-btn cat">아이</button>
      <button class="mid-btn cat">윤곽</button>
      <button class="mid-btn cat">네일</button>
    </div>
    <div class="small-category">
      <div class="cat-button-container">
        <button class="small-btn cat">전체</button>
        <button class="small-btn cat">마스카라</button>
        <button class="small-btn cat">아이라이너</button>
        <button class="small-btn cat">아이브로우</button>
        <button class="small-btn cat">아이섀도우</button>
      </div>
    </div>
    <button class="fold fold-btn">^</button>
    <div class="item-container">
      <button class="item-btn item-prev-btn">&lt;</button>
      <div class="item-row-container">
        <div class="item-row">
          <div class="item-card">
            <img 
              src="http://mimg.lalavla.com/resources/images/prdimg/20210223/10005110/10005110_D_004_550.jpg" 
              alt="" 
              class="thumbnail-img"
            >
            <hr class="divide-img-info">
            <p class="item-title">포렌코즈 베어 섀도우 팔레트</p>
            <div class="price-container">
              <p class="origin-price">20,000원</p>
              <div class="discount-price">12,600원</div>
            </div>
            <button class="go-test">테스트</button>
          </div>
          <div class="item-card">
            <img 
              src="http://mimg.lalavla.com/resources/images/prdimg/20191107/10002619/10002619_D_002_550.jpg" 
              alt="" 
              class="thumbnail-img"
            >
            <hr class="divide-img-info">
            <p class="item-title">클리오 프로아이팔레트</p>
            <div class="price-container">
              <p class="origin-price">32,000원</p>
              <div class="discount-price">22,400원</div>
            </div>
            <button class="go-test">테스트</button>
          </div>
        </div>
        <div class="item-row">
          <div class="item-card">
            <img 
              src="http://mimg.lalavla.com/resources/images/prdimg/20200713/10005437/10005437_D_001_550.jpg" 
              alt="" 
              class="thumbnail-img"
            >
            <hr class="divide-img-info">
            <p class="item-title">트윙클팝 젤리 글리터 싱글</p>
            <div class="price-container">
              <p class="origin-price">4,900원</p>
              <div class="discount-price">3,900원</div>
            </div>
            <button class="go-test">테스트</button>
          </div>
          <div class="item-card">
            <img 
              src="http://mimg.lalavla.com/resources/images/prdimg/20181123/10002153/10002153_D_001_550.jpg" 
              alt="" 
              class="thumbnail-img"
            >
            <hr class="divide-img-info">
            <p class="item-title">아임미미 아임스틱섀도시머</p>
            <div class="price-container">
              <!-- <p class="origin-price">9,900원</p> -->
              <div class="discount-price">9,900원</div>
            </div>
            <button class="go-test">테스트</button>
          </div>
        </div>
      </div>
      <button class="item-btn item-next-btn">&gt;</button>
    </div>
  </div>

  <script>
    const foldBtn = document.querySelector('.fold-btn');
    const smallCatBar = document.querySelector('.small-category');
    const midCatList = document.querySelectorAll('.mid-btn');
    const smallCatList = document.querySelectorAll('.small-btn');
    const itemContainer = document.querySelector('.item-container');
    const itemCardList= document.querySelectorAll('.item-card');
    const mic = document.querySelector('.turn-on-mic');
    const cart = document.querySelector('.go-cart');
    const goPrevBtn = document.querySelector('.go-prev');

    goPrevBtn.addEventListener('click', () => { history.back(); });

    mic.addEventListener('click', () => location.href = 'voice-search.html');
    cart.addEventListener('click', () => {
      //아직 cart.html 구현 전
      location.href = './cart.html';
    })

    smallCatBar.style.display = 'none';
    itemContainer.style.display = 'none';

    midCatList.forEach(c => {
      c.addEventListener('click', () => {
        midCatList.forEach(otherC => {
          if (otherC.classList.contains('cat-selected')) {
            otherC.classList.remove('cat-selected');
            smallCatList.forEach(smallC => {
              if (smallC.classList.contains('cat-selected')) {
                smallC.classList.remove('cat-selected');
                itemContainer.style.display = 'none';
              }
            });
          };
        });
        if (!c.classList.contains('cat-selected')) {
          c.classList.add('cat-selected');
        }
        smallCatBar.style.display = 'flex';
      });
    });

    smallCatList.forEach(c => {
      c.addEventListener('click', () => {
        smallCatList.forEach(otherC => {
          if (otherC.classList.contains('cat-selected')) {
            otherC.classList.remove('cat-selected');
          };
        });
        if (!c.classList.contains('cat-selected')) {
          c.classList.add('cat-selected');
        }
        itemContainer.style.display = 'flex';
      });
    });

    foldBtn.addEventListener('click', () => {
      if (foldBtn.classList.contains('fold')) {
        if (smallCatBar.classList.contains('unfold-bar')) {
          smallCatBar.classList.remove('unfold-bar');
        }
        smallCatBar.classList.add('fold-bar');
        setTimeout(() => {
          foldBtn.classList.remove('fold');
          foldBtn.classList.add('unfold');
          foldBtn.classList.add('rotate');
          smallCatBar.style.display = 'none';
        }, 300);
      } else {
        if (smallCatBar.classList.contains('fold-bar')) {
          smallCatBar.classList.remove('fold-bar');
        }
        smallCatBar.classList.add('unfold-bar');
        setTimeout(() => {
          foldBtn.classList.remove('unfold');
          foldBtn.classList.remove('rotate');
          foldBtn.classList.add('fold');
          smallCatBar.style.display = 'flex';
        }, 300);
      }
    });

    itemCardList.forEach(item => {
      item.addEventListener('click', () => {
        location.href = 'item2.html';
      });
    });
  </script>
</body>
</html>