<!DOCTYPE HTML>
<!--이거느눔\슨 화ㅕㅁㅇ님-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>hello this is new page</p>
<div class="container">
    <div>
        <table class="table table-striped">
            <tbody>
            <tr th:each="item : ${item}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.item_price}"></td>
                <td th:text="${item.stockQuantity}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a th:href="@{'/category/30?page=' + ${left}}">뒤로가기</a>

        <a th:href="@{'/category/30?page='+ ${right}}">앞으로 가기</a>
    </span>
    </div>
</div>
</body>
</html>