<!DOCTYPE HTML>
<!--이거느눔\슨 화ㅕㅁㅇ님-->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>hello this is new page</p>
<div class="container">
    <div>
        <table class="table table-striped">
            <tbody>
            <tr th:each="item : ${item}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.item_price}"></td>
                <td th:text="${item.stockQuantity}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div th:with="right=${pageNum}+1">
            <div th:with="left=${pageNum}-1">

            <a th:href="@{'/30?page='+ ${right}}">[[${pageNum}-1]]</a>

        <a th:href="@{'/30?page=' + ${left}+}">[[${pageNum}+1]]</a>
    </span>
    </div>
</body>
</html>