<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>실시간 급상승 검색어</title>
    <style>
      table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #444444;
        padding: 10px;
      }
    </style>
</head>
<body>
  <div id="wrap">
    <div class="top-container">
      <!-- class="title"-->
      <header>
        <button class="go-prev">&lt;</button>
        <h1>상품 검색</h1>
      </header>
      <div class="search">
        <input type="text" class="search-input" placeholder="피지오겔 DMT 로션 200ml"/>
        <button class="search-btn">검색</button>
        <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
      </div>
    </div>
    <div class="middle-container">
      <table class="result_table">
        <thead id ='t_head'>
        <tr>
          <th>실시간 급상승 검색어</th>
        </tr>
        </thead>
        <tbody id="t_body">
        <!-- href 경로 수정해야함 !-->
        <tr id ="t_body_1"><td><a href="./find_id.html" class="link_find">1. 페리페라</a></td></tr>
        <tr id ="t_body_2"><td><a href="./find_id.html" class="link_find">2. 쿠션</a></td></tr>
        <tr id ="t_body_3"><td><a href="./find_id.html" class="link_find">3. 아이섀도우</a></td></tr>
        <tr id ="t_body_4"><td><a href="./find_id.html" class="link_find">4. 닥터지</a></td></tr>
        <tr id ="t_body_5"><td><a href="./find_id.html" class="link_find">5. 립스틱</a></td></tr>
        <tr id ="t_body_6"><td><a href="./find_id.html" class="link_find">6. 제모</a></td></tr>
        <tr id ="t_body_7"><td><a href="./find_id.html" class="link_find">7. 로션</a></td></tr>
        <tr id ="t_body_8"><td><a href="./find_id.html" class="link_find">8. 스킨</a></td></tr>
        <tr id ="t_body_9"><td><a href="./find_id.html" class="link_find">9. 헤어 에센스</a></td></tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>