<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/review.css">
  <title>리뷰 페이지</title>
</head>
<body>
<div id="wrap">
  <header>
    <button class="go-prev">&lt;</button>
    <h1 th:text="${item.name}" class="title"></h1>
  </header>
  <div class="rate-row">
    <div class="star-rate"></div>
    <div class="num-rate"></div>
  </div>
  <div class="rate-info-row">
    <p class="rate-count"></p>
    <!--    <button class="rate-btn-high"></button>-->
    <!--    <button class="rate-btn-low"></button>-->
    <!--    <button class="rate-btn-recent"></button>-->
  </div>
  <div class="btn-container">
    <!-- 세로 버튼바 들어가는 자리 -->
  </div>
  <div class="review-container">

  </div>
</div>

<script src="/js/createBtnContainer.js"></script>
<script src="/js/preRate.js"></script>
</body>
</html>