<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/review.css">
  <title>리뷰 페이지</title>
</head>
<body>
<div id="wrap">
  <header>
    <button class="go-prev">&lt;</button>
    <h1 th:text="${item.name}" class="title"></h1>
  </header>
  <div class="rate-row">
    <span class="star-rate"></span>
    <span class="num-rate"></span>
  </div>
  <div class="rate-info-row">
    <p class="rate-count"></p>
<!--    <button class="rate-btn-high"></button>-->
<!--    <button class="rate-btn-low"></button>-->
<!--    <button class="rate-btn-recent"></button>-->
  </div>
  <div class="review-container">
    <div class="btn-container">
      <!-- 세로 버튼바 들어가는 자리 -->
    </div>
    <div class="review-row">
      <div class="review-info">
        <span class="star-rate"></span>
        <span class="num-rate"></span>
      </div>
      <div class="review-content">
        <p class="review-option"></p>
        <p class="review-text"></p>
        <div class="review-img-container">
          <img src="" class="review-img">
        </div>
        <p class="review-date"></p>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  const rateList = [];
  const rateObject = {};
  let totalRateCount = 0;

  /*<![CDATA[*/
  const item_id = /*[[ ${item.id} ]]*/;
  const item_name = /*[[ ${item.name} ]]*/;
  const item_isTestable = /*[[ ${item.is_testable} ]]*/;
  let id = '';
  let i = 0;

  /*[# th:each="r : ${review}"]*/
  rateList.push(/*[[${r.rate}]]*/);
  id = /*[[${r.id}]]*/;
  rateObject[id] = {
    index: i++,
    rate: /*[[${r.rate}]]*/,
    text: /*[[${r.review_content}]]*/,
    date: /*[[${r.created_at}]]*/
  };
  totalRateCount++;
  /*[/]*/

  i = 0;
  const imgList = [];
  imgList.fill('', 0, totalRateCount);

  /*[# th:each="img : ${review_img}"]*/
  imgList[i++] = /*[[${img.review_img}]]*/;

  /*[/]*/

  /*]]>*/

  console.log(imgList);

  const avgRate = (rateList.reduce((a, x) => a += x)) / totalRateCount;
  const goPrevBtn = document.querySelector('.go-prev');
  goPrevBtn.addEventListener('click', () => history.back());

  const rateRowStarRate = document.querySelector('.rate-row > .star-rate');
  const rateRowNumRate = document.querySelector('.rate-row > .num-rate');
  rateRowNumRate.textContent = `${avgRate.toFixed(1)} / 5점`;

  const rateCount = document.querySelector('.rate-count');
  rateCount.textContent = `총 ${rateList.length}건`;


  const createRateRow = review_id => {
    const reviewRow = document.createElement('div');
    reviewRow.classList.add('review-row');

    const reviewInfo = document.createElement('div');
    reviewInfo.classList.add('review-info');

    const starRate = document.createElement('span');
    starRate.classList.add('star-rate');
    /* 나중에 별 넣기 */
    const numRate = document.createElement('span');
    numRate.classList.add('num-rate');
    numRate.textContent = `${rateObject[review_id].rate}점`;

    reviewInfo.appendChild(starRate);
    reviewInfo.appendChild(numRate);

    const reviewContent = document.createElement('div');
    reviewContent.classList.add('review-content');

    const reviewText = document.createElement('p');
    reviewText.classList.add('review-text');
    reviewText.textContent = rateObject[review_id].text;

    reviewContent.appendChild(reviewText);

    if (imgList[rateObject[review_id].index]) {
      const reviewImgContainer = document.createElement('div');
      reviewImgContainer.classList.add('review-img-container');

      const reviewImg = document.createElement('img');
      reviewImg.classList.add('review-img');
      reviewImg.src = imgList[rateObject[review_id].index];

      reviewImgContainer.appendChild(reviewImg);

      reviewContent.appendChild(reviewImgContainer);
    }

    const reviewDate = document.createElement('p');
    reviewDate.classList.add('review-date');
    reviewDate.textContent = rateObject[review_id].date;

    reviewContent.appendChild(reviewDate);

    reviewRow.appendChild(reviewInfo);
    reviewRow.appendChild(reviewContent);

    return reviewRow;
  };

  const reviewElList = [];
  for (const [k, v] of Object.entries(rateObject)) {
    reviewElList.push(createRateRow(k));
  }

  const reviewContainer = document.querySelector('.review-container');
  reviewElList.forEach(review => {
    reviewContainer.appendChild(review);
  });

</script>
</body>
</html>