<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오늘의 추천</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/today-goods.css">
</head>
<body>
  <div id="wrap">
      <header>
          <div class="title-container">
              <button class="go-prev">&lt;</button>
              <h1 class="title">오늘의 추천</h1>
          </div>
          <div class="top-button-container">
              <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
              <button class="go-cart" title="https://www.freepik.com"></button>
          </div>
      </header>
      <div class="md-pick-container">
          <div class="md-pick-header">
              <h3 class="md-title">👑 MD의 추천 PICK ! 👑</h3>
          </div>
          <div class="md-pick-box">
              <button class="md-go-prev-btn item-btn"><</button>
              <div class="md-carousel">
                  <!-- item 3개씩 -->
              </div>
              <button class="md-go-next-btn item-btn">></button>
          </div>
      </div>
      <div class="best-item-container">
          <div class="best-item-header">
              <h3 class="best-title">💎 이 달의 베스트 아이템! 💎</h3>
          </div>
          <div class="best-item-box">
<!--              <button class="best-go-prev-btn item-btn"><</button>-->
              <div class="best-carousel">
                  <!-- item 3개씩 -->
                  <div class="best item-card" th:each="item : ${BestItems}">
                      <div style="display: flex; justify-content: center; align-items: center;"
                           th:onclick="'javascript:goItemPage(' + ${item.id} + ')'">
                          <img th:src="${item.item_img}" class="thumbnail-img" th:alt="${item.name}">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" th:text="${item.name}"
                           th:onclick="'javascript:goItemPage(' + ${item.id} + ')'"></div>
                      <div
                              th:if="${item.item_price} != ${item.discount_price}"
                              th:text="${item.item_price} + '원'"
                              class="origin-price"
                              style="width: 50%; margin: 0 0 -30px 0; padding: 10px 20px;">
                      </div>
                      <div
                              th:text="${item.discount_price} + '원'"
                              class="discount-price"
                              style="width: 50%; margin: 0 0 20px 20px; align-self: flex-end">원</div>
                      <div th:if="${item.is_testable} == 'Y'">
                          <button class="go-test" th:onclick="'javascript:goTestPage(' + ${item.id} + ')'">테스트</button>
                      </div>
                  </div>

              </div>
<!--              <button class="best-go-next-btn item-btn">></button>-->

          </div>
      </div>
  </div>
  <script th:inline="javascript">
      // best가 3개, md가 10개
      const mdItemObj = {};
      const mdItemList = [];
      let item_id = '';
      /*<![CDATA[*/

      /*[# th:each="item : ${MdItems}"]*/
      item_id = /*[[${item.id}]]*/;
      mdItemList.push(item_id);
      mdItemObj[item_id] = {
          name: /*[[${item.name}]]*/,
          item_img: /*[[${item.item_img}]]*/,
          origin_price: /*[[${item.item_price}]]*/,
          discount_price: /*[[${item.discount_price}]]*/,
          is_testable: /*[[${item.is_testable}]]*/
      };
      /*[/]*/
      /*]]>*/

      const createMdItemCard = (item_id, state) => {
        const itemCard = document.createElement('div');
        itemCard.classList.add('md');
        itemCard.classList.add('item-card');
        // if (state !== 'hidden') {
        //     itemCard.classList.add(state);
        // }

        const cardImg = document.createElement('div');
        cardImg.classList.add('card-img');
        cardImg.addEventListener('click', item_id => goItemPage(item_id));
        const thumbnailImg = document.createElement('img');
        thumbnailImg.classList.add('thumbnail-img');
        thumbnailImg.src = mdItemObj[item_id].item_img;
        thumbnailImg.alt = mdItemObj[item_id].name;
        cardImg.appendChild(thumbnailImg);
        itemCard.appendChild(cardImg);

        const hrDiv = document.createElement('div');
        const divideImgInfoHr = document.createElement('hr');
        divideImgInfoHr.classList.add('divide-img-info');
        hrDiv.appendChild(divideImgInfoHr);
        itemCard.appendChild(hrDiv);

        const itemTitle = document.createElement('div');
        itemTitle.classList.add('item-title');
        itemTitle.addEventListener('click', item_id => goItemPage(item_id));
        itemTitle.textContent = mdItemObj[item_id].name;
        itemCard.appendChild(itemTitle);

        if (mdItemObj[item_id].discount_price !== mdItemObj[item_id].origin_price) {
            const originPrice = document.createElement('div');
            originPrice.classList.add('origin-price');
            originPrice.textContent = `${mdItemObj[item_id].origin_price} 원`;
            itemCard.appendChild(originPrice);
        }

        const discountPrice = document.createElement('div');
        discountPrice.classList.add('discount-price');
        discountPrice.textContent = `${mdItemObj[item_id].discount_price} 원`;
        itemCard.appendChild(discountPrice);

        if (mdItemObj[item_id].is_testable === 'Y') {
            const goTestDiv = document.createElement('div');
            const goTestBtn = document.createElement('button');
            goTestBtn.classList.add('go-test');
            goTestBtn.addEventListener('click', item_id => goItemPage(id));
            goTestBtn.textContent = '테스트';
            goTestDiv.appendChild(goTestBtn);
            itemCard.appendChild(goTestDiv);
        }

        return itemCard;
      }


      const mdItemCardObj = {};
      const mdItemCardList = [];
      for (let i = 0; i < mdItemList.length; i++) {
          mdItemCardObj[mdItemList[i]] = {
            card: createMdItemCard(mdItemList[i], 'hidden'),
            index: i,
            state: 'hidden'
          };
          mdItemCardList.push(createMdItemCard(mdItemList[i], 'hidden'));
      }
      console.log(mdItemCardObj);

    const goItemPage = id => location.href = `/item/${id}`;

    const mdGoPrevBtn = document.querySelector('.md-go-prev-btn');
    const mdGoNextBtn = document.querySelector('.md-go-next-btn');
    const mdCarousel = document.querySelector('.md-carousel');

    const sideCard = (card, state) => {
        if (card.classList.contains('center')) {
            card.classList.remove('center');
        }
        card.classList.add(state);
        card.classList.add('side');
        return card;
    };

    const centerCard = card => {
        if (card.classList.contains('left')) {
            card.classList.remove('left');
        } else if (card.classList.contains('right')) {
            card.classList.remove('right');
        }

        if (card.classList.contains('side')) {
            card.classList.remove('side');
        }

        card.classList.add('center');
        return card;
    }

    mdItemCardList[0] = sideCard(mdItemCardList[0], 'left');
    mdItemCardList[1] = centerCard(mdItemCardList[1]);
    mdItemCardList[2] = sideCard(mdItemCardList[2], 'right');

    mdCarousel.appendChild(mdItemCardList[0]);
    mdCarousel.appendChild(mdItemCardList[1]);
    mdCarousel.appendChild(mdItemCardList[2]);

    let displayIdx = 1;
    let leftIdx, centerIdx, rightIdx;

    const moveMdCarousel = (display_idx, num) => {
        displayIdx = (display_idx + num) % 10;
        if (displayIdx < 0) {
            displayIdx = displayIdx + 10;
        }
        console.log(displayIdx);
        leftIdx = ((displayIdx-1)<0) ? displayIdx-1+10 : displayIdx - 1;
        centerIdx = displayIdx;
        rightIdx = (displayIdx + 1) % 10;
        mdCarousel.innerHTML = '';

        mdItemCardList[leftIdx] = sideCard(mdItemCardList[leftIdx], 'left');
        mdItemCardList[centerIdx] = centerCard(mdItemCardList[centerIdx]);
        mdItemCardList[rightIdx] = sideCard(mdItemCardList[rightIdx], 'right');

        mdCarousel.appendChild(mdItemCardList[leftIdx]);
        mdCarousel.appendChild(mdItemCardList[centerIdx]);
        mdCarousel.appendChild(mdItemCardList[rightIdx]);
    };

    mdGoPrevBtn.addEventListener('click', () => moveMdCarousel(displayIdx, -1));
    mdGoNextBtn.addEventListener('click', () => moveMdCarousel(displayIdx, 1));

</script>
</body>
</html>