<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오늘의 추천</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/today-goods.css">
</head>
<body>
  <div id="wrap">
      <header>
          <div class="title-container">
              <button class="go-prev">&lt;</button>
              <h1 class="title">오늘의 추천</h1>
          </div>
          <div class="top-button-container">
              <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
              <button class="go-cart" title="https://www.freepik.com"></button>
          </div>
      </header>
      <div class="md-pick-container">
          <div class="md-pick-header">
              <h3 class="md-title">👑 MD의 추천 PICK ! 👑</h3>
          </div>
          <div class="md-pick-box">
              <button class="md-go-prev-btn item-btn"><</button>
              <div class="md-carousel">
                  <!-- item 3개씩 -->

                  <div class="md item-card left side">
                      <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
                          <img src="http://mimg.lalavla.com/resources/images/prdimg/20190521/10003613/10003613_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>

                      <div class="discount-price" style="width: 50%; align-self: flex-end">7200원</div>
                      <div>
                          <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
                      </div>
                  </div>

                  <div class="md item-card center">
                      <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
                          <img src="http://mimg.lalavla.com/resources/images/prdimg/20190521/10003613/10003613_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>

                      <div class="discount-price" style="width: 50%; margin: 0 0 20px 20px; align-self: flex-end">7200원</div>
                      <div>
                          <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
                      </div>
                  </div>

                  <div class="md item-card right side ">
                      <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
                          <img src="http://mimg.lalavla.com/resources/images/prdimg/20190521/10003613/10003613_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>

                      <div class="discount-price" style="width: 50%; align-self: flex-end">7200원</div>
                      <div>
                          <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
                      </div>
                  </div>

              </div>
              <button class="md-go-next-btn item-btn">></button>
          </div>
      </div>
      <div class="best-item-container">
          <div class="best-item-header">
              <h3 class="best-title">💎 이 달의 베스트 아이템! 💎</h3>
          </div>
          <div class="best-item-box">
              <button class="best-go-prev-btn item-btn"><</button>
              <div class="best-carousel">
                  <!-- item 3개씩 -->


                  <div class="best item-card left side">
                      <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
                          <img src="http://mimg.lalavla.com/resources/images/prdimg/20201025/10006352/10006352_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>

                      <div class="discount-price" style="width: 50%; align-self: flex-end">7200원</div>
                      <div>
                          <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
                      </div>
                  </div>

                  <div class="best item-card center">
                      <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
                          <img src="http://mimg.lalavla.com/resources/images/prdimg/20190521/10003613/10003613_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>

                      <div class="discount-price" style="width: 50%; margin: 0 0 20px 20px; align-self: flex-end">7200원</div>
                      <div>
                          <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
                      </div>
                  </div>

                  <div class="best item-card right side ">
                      <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
                          <img src="http://mimg.lalavla.com/resources/images/prdimg/20190920/10004184/10004184_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
                      </div>
                      <div>
                          <hr class="divide-img-info">
                      </div>
                      <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>

                      <div class="discount-price" style="width: 50%; align-self: flex-end">7200원</div>
                      <div>
                          <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
                      </div>
                  </div>



              </div>
              <button class="best-go-next-btn item-btn">></button>
              <div th:each="item : ${BestItems}">
                  <p th:text="${item.name}"></p>
              </div>
          </div>
      </div>
  </div>
  <script th:inline="javascript">
      const bestImgObj = {};
      const bestItemObj = {};
      const mdImgObj = {};
      const mdItemObj = {};
      let item_id = '';
      /*<![CDATA[*/

      /*[# th:each="item : ${BestItems}"]*/
      console.log('yes');
      item_id = /*[[${item.id}]]*/;
      bestItemObj[item_id] = {
          name: /*[[${item.name}]]*/,
          item_img: /*[[${item.item_img}]]*/,
          origin_price: /*[[${item.item_price}]]*/,
          discount_price: /*[[${item.discount_price}]]*/,
          is_testable: /*[[${item.is_testable}]]*/
      };
      /*[/]*/

      /*[# th:each="item : ${MdItems}"]*/
      console.log('no');
      item_id = /*[[${item.id}]]*/;
      mdItemObj[item_id] = {
          name: /*[[${item.name}]]*/,
          item_img: /*[[${item.item_img}]]*/,
          origin_price: /*[[${item.item_price}]]*/,
          discount_price: /*[[${item.discount_price}]]*/,
          is_testable: /*[[${item.is_testable}]]*/
      };
      /*[/]*/

      console.log(mdItemObj);
      console.log(bestItemObj);


      /*]]>*/


    // <div class="md item-card left side">
    //     <div style="display: flex; justify-content: center; align-items: center;" onclick="javascript:goItemPage(330)">
    //     <img src="http://mimg.lalavla.com/resources/images/prdimg/20190521/10003613/10003613_D_001_550.jpg" class="thumbnail-img" alt="페리페라 잉크더에어리벨벳AD">
    //     </div>
    //     <div>
    //     <hr class="divide-img-info">
    //     </div>
    //     <div class="item-title" onclick="javascript:goItemPage(330)">페리페라 잉크더에어리벨벳AD</div>
    //
    // <div class="discount-price" style="width: 50%; align-self: flex-end">7200원</div>
    // <div>
    // <button class="go-test" onclick="javascript:goTestPage(330)">테스트</button>
    //     </div>
    //     </div>


    const goItemPage = id => location.href = `/item/${id}`;
    const goTestPage = id => location.href = `/test/${id}`;

    const mdGoPrevBtn = document.querySelector('.md-go-prev-btn');
    const mdGoNextBtn = document.querySelector('.md-go-next-btn');
    const bestGoPrevBtn = document.querySelector('.best-go-prev-btn');
    const bestGoNextBtn = document.querySelector('.best-go-next-btn');

    const mdCarousel = document.querySelector('.md-carousel');
    const bestCarousel = document.querySelector('.best-carousel');

    let mdLeftItem, mdCenterItem, mdRightItem;

    mdGoPrevBtn.addEventListener('click', () => {
        leftItem = document.querySelector('.md.left');
        centerItem = document.querySelector('.md.center');
        rightItem = document.querySelector('.md.right');

        mdCarousel.removeChild(rightItem);

        /* remove된 leftItem id는 pop되어야 함. 모든 상품 리스트들 중 dp되는 아이템들의 id만 담는 리스트가 필요 */
        leftItem.classList.remove('side');
        leftItem.classList.remove('left');
        leftItem.classList.add('center');
        centerItem.classList.remove('center');
        centerItem.classList.add('right');
        centerItem.classList.add('side');
        rightItem.classList.remove('right');
        rightItem.classList.add('left');

        //주의
        mdCarousel.prepend(rightItem);
    });

    mdGoNextBtn.addEventListener('click', () => {
        leftItem = document.querySelector('.md.left');
        centerItem = document.querySelector('.md.center');
        rightItem = document.querySelector('.md.right');

        mdCarousel.removeChild(leftItem);

        /* remove된 leftItem id는 pop되어야 함. 모든 상품 리스트들 중 dp되는 아이템들의 id만 담는 리스트가 필요 */
        leftItem.classList.remove('left');
        leftItem.classList.add('right');
        centerItem.classList.remove('center');
        centerItem.classList.add('left');
        centerItem.classList.add('side');
        rightItem.classList.remove('side');
        rightItem.classList.remove('right');
        rightItem.classList.add('center');

        //주의
        mdCarousel.appendChild(leftItem);
    });

    bestGoPrevBtn.addEventListener('click', () => {
        leftItem = document.querySelector('.best.left');
        centerItem = document.querySelector('.best.center');
        rightItem = document.querySelector('.best.right');

        bestCarousel.removeChild(rightItem);

        /* remove된 leftItem id는 pop되어야 함. 모든 상품 리스트들 중 dp되는 아이템들의 id만 담는 리스트가 필요 */
        leftItem.classList.remove('side');
        leftItem.classList.remove('left');
        leftItem.classList.add('center');
        centerItem.classList.remove('center');
        centerItem.classList.add('right');
        centerItem.classList.add('side');
        rightItem.classList.remove('right');
        rightItem.classList.add('left');

        //주의
        bestCarousel.prepend(rightItem);
    });

    bestGoNextBtn.addEventListener('click', () => {
        leftItem = document.querySelector('.best.left');
        centerItem = document.querySelector('.best.center');
        rightItem = document.querySelector('.best.right');

        bestCarousel.removeChild(leftItem);

        /* remove된 leftItem id는 pop되어야 함. 모든 상품 리스트들 중 dp되는 아이템들의 id만 담는 리스트가 필요 */
        leftItem.classList.remove('left');
        leftItem.classList.add('right');
        centerItem.classList.remove('center');
        centerItem.classList.add('left');
        centerItem.classList.add('side');
        rightItem.classList.remove('side');
        rightItem.classList.remove('right');
        rightItem.classList.add('center');

        //주의
        bestCarousel.appendChild(leftItem);
    });


</script>
</body>
</html>