<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/voice-search.css">
  <link rel="stylesheet" href="/css/modal.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js"></script>
  <script src="/js/p5.speech.js"></script>
  <title>Voice search page</title>
</head>

<body>
  <div id="wrap">
    <div class="top-area">
      <header>
        <div class="title-container">
          <button class="go-prev">&lt;</button>
          <h1 class="title">검색 결과</h1>
        </div>
      </header>
      <div class="mic-area">
        <button class="mic"></button>
<!--        <p class="notice">듣고 있습니다...</p>-->
      </div>
      <input class="search-input" type="text" id="speech">
      <div class="button-box">
        <button class="positive">맞아요</button>
        <button class="retry">다시 하기</button>
      </div>
    </div>
    <div class="bottom-area">
      <div class="search-word-container">
        <div class="header-container">
          <p class="title">⚡ 급상승 검색어</p>
        </div>
        <div class="word-container">
          <div th:each="i, index : ${item}" class="word-box">
            <div class="rank-index" th:text="${index.index + 1}"></div>
            <div th:onclick="'javascript:goItemPage(' + ${i.id} + ')'" th:text="${i.name}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-container">

    </div>
  </div>
  <script src="/js/speech-recognition.js"></script>
  <script th:inline="javascript">
    const goItemPage = id => location.href = `/item/${id}`;
    //

    const searchInput = document.getElementById('speech');
    const goPrevBtn = document.querySelector('.go-prev');
    const retry = document.querySelector('.retry');
    const positiveBtn = document.querySelector('.positive');
    const modalContainer = document.querySelector('.modal-container');

    goPrevBtn.addEventListener('click', () => { history.back(); });
    retry.addEventListener('click', () => { searchInput.value = ''; });

        const createModal = state => {
      const modalBG = document.createElement('div');
      modalBG.classList.add('modal-background');

      const modalBox = document.createElement('div');
      modalBox.classList.add('modal-box');

      const modalCloseBtn = document.createElement('span');
      modalCloseBtn.classList.add('modal-close-btn');
      modalCloseBtn.innerHTML = '&times;';
      modalCloseBtn.addEventListener('click', () => {
        modalContainer.innerHTML = '';
        modalContainer.classList.remove('display');
      });

      const modalContent = document.createElement('p');
      modalContent.classList.add('modal-content');
      if (state === 'excess') {
        modalContent.textContent = '재고 수량보다 많이 담을 수 없습니다.';
      } else if (state === 'lack') {
        modalContent.textContent = '수량은 1개 이상이어야 합니다.';
      } else if (state === 'first') {
        modalContent.textContent = '장바구니 첫 페이지입니다.';
      } else if (state === 'last') {
        modalContent.textContent = '장바구니 마지막 페이지입니다.';
      } else if (state === 'clear') {
        modalContent.textContent = '장바구니를 성공적으로 비웠습니다.';
      } else if (state === 'voice') {
        modalContent.textContent = '검색어를 말씀해 주세요. :)';
      } else {
        modalContent.textContent = '상품을 장바구니에서 삭제했습니다.';
      }

      modalBox.appendChild(modalCloseBtn);
      modalBox.appendChild(modalContent);

      modalBG.appendChild(modalBox);

      return modalBG;
    }

    positiveBtn.addEventListener('click', () => {
      if (!searchInput.value) {
          modalContainer.appendChild(createModal('voice'));
          modalContainer.classList.add('display');
      } else {
        location.href = `/searchVoice/${searchInput.value}`;
      }
    });
  </script>
</body>

</html>