<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body>
  <div id="wrap">
    <header>
      <div class="title-container">
        <button class="go-prev">&lt;</button>
        <h1 class="title">쇼핑카트</h1>
      </div>
    </header>
    <div class="cart-container">
      <div class="select-all-container">
        <button class="select-all-btn">&#10004;</button>
        <span class="select-all-span">전체 선택</span>
      </div>
      <div class="item-row-container">
        <!-- 아이템 정보 받아오기 -->
        <!-- "장바구니 상품 목록" -->
        <div class="row data">
          <div class="check"><input type="checkbox" name="buy" value="unchecked" checked=""/>&nbsp;</div>
          <div class="img"><img src="./img/basket1.jpg" width="60">상품 이미지</div>
          <div class="pname">
            <span>상품명</span>
          </div>
          <div class="p_price">(상품 가격) 원</div>
          <div class="num">
            <!-- "장바구니 수량 변경" -->
            <div class="updown">
              <div class="cart-page-container">
                <button class="prd-del-btn">&#45;</button>
                <span class="p_count">(상품) 수량</span>
                <span class="current-page"></span>
                <button class="prd-add-btn">&#43;</button>
              </div>
            </div>
          </div>
          <!-- "장바구니 상품 단품별 정보 " -->
          <div class="prd_sum">상품 총 가격 (p_count * p_price)</div>
          <div class="delete"><button class="del-btn">삭제</button></div>
        </div>
        <!-- 몇개 이상 상품이 등장하면 페이지를 구분해야함 > 이부분을 어떻게 할지 질문 -->
        <div class="cart-page-container">
          <button class="go-prev-page-btn">&lt;</button>
          <span class="current-page"></span>
          <button class="go-next-page-btn">&gt;</button>
        </div>
      </div>
      <!-- "장바구니 전체 합계 정보" -->
      <div class="bottom-contatiner">
        <div class="bigtext discount_price" id="discount_price">할인금액 :12,345원</div>
        <div class="bigtext box blue total_price" id="sum_p_price">총 금액: 74,200원</div>
        <button class="del_all">전체 삭제</button>
        <button class="goto_order">결제하기</button>
      </div>
    </div>
  </div>
</body>
</html>