<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제화면</title>
</head>
<body>
  <div id="wrap">
    <header>
      <div class="title-container">
        <button class="go-prev">&lt;</button>
        <h1 class="title">주문/결제</h1>
      </div>
    </header>
    <div class="product_info-container">
      <p class="first_title">주문 내역 <button class="fold fold-btn">˅</button></p>
      <hr class="divide-info">
      <div class="product_list"></div>

    </div>
    <div class="order_result-container">
      <p class="sec_title"> 최종 결제 금액 <button class="fold fold-btn">˅</button>
      <hr class="divide-info">
      <div class="price_list">
        <p class="all_price">총 상품 금액 :</p>
        <p class="discount_price">할인 금액: </p>
      </div>
    </div>
    <div class="payment-container">
      <p class="third_title">결제 수단<button class="fold fold-btn">˅</button>
      <hr class="divide-info">
      <div class="payment_list"></div>
      </p>
    </div>
    <hr class="divide-info">
    <div class="check-container">
      <input type='checkbox' name='check' value='yes'/>
      주문 상품정보 및 결제대행 서비스 이용약관에 모두 동의하십니까
    <button class="order_btn">@@@@원 결제하기</button>
    </div>
  </div>
</body>
</html>