<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매장 정보</title>
</head>

<body>

<script th:inline="javascript">
    const store_id = localStorage.getItem('store_id') || 1;
    const redirectMeta = document.createElement('meta');
    redirectMeta.httpEquiv = 'refresh';
    redirectMeta.content = `0; url='/storeDistance/${store_id}'`;
    const head = document.querySelector('head');
    head.appendChild(redirectMeta);

</script>
</body>

</html>