<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>매장 정보</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stores.css">
</head>
<body>
<div id="wrap">
    <header>
        <div class="title-container">
            <button class="go-prev">&lt;</button>
            <h1 class="title">매장 정보</h1>
        </div>
        <div class="top-button-container">
            <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
            <button class="go-cart" title="https://www.freepik.com"></button>
        </div>
    </header>
    <div class="map-container">
        <div class="current-location">
            <p class="cur-location">

            </p>
        </div>
        <div id="map">

        </div>
    </div>
    <div class="store-list-container">

    </div>
</div>

<script th:inline="javascript">
    const storeList = [];
    // const distList = [];
    let counter = 1;

    const storePush = (store_id, store_name, store_location, store_number) =>
        storeList.push({store_id, store_name, store_location, store_number});
    const distPush = (id, store_dist) => storeList[id - 1].store_dist = store_dist;
    const posPush = (id, longitude, latitude) => {
        storeList[id - 1].store_latitude = latitude;
        storeList[id - 1].store_longitude = longitude;
    }
    /*<![CDATA[*/

    /*[# th:each="s : ${store}"]*/
    storePush(/*[[${s.id}]]*/, /*[[${s.store_name}]]*/, /*[[${s.address}]]*/, /*[[${s.number}]]*/);
    /*[/]*/

    /*[# th:each="dist : ${distance}"]*/
    distPush(counter++, /*[[${dist}]]*/);
    /*[/]*/

    /*[# th:each="pos : ${positions}"]*/
    posPush(/*[[${pos.id}]]*/, /*[[${pos.longitude}]]*/, /*[[${pos.latitude}]]*/);
    /*[/]*/
    /*]]>*/

    console.log(storeList);

    const mic = document.querySelector('.turn-on-mic');
    const goCart = document.querySelector('.go-cart');
    const goPrevBtn = document.querySelector('.go-prev');

    goPrevBtn.addEventListener('click', () => history.back());
    goCart.addEventListener('click', () => location.href = '/cartList');
    mic.addEventListener('click', () => location.href = '/searchVoice' );

    const curStoreID = localStorage.getItem('store_id') || 1;
    const curLocation = document.querySelector('.cur-location');
    curLocation.innerHTML = `<span class="emphasize">${storeList[curStoreID - 1].store_name}</span> 과 가까운<br/>
    이웃 매장들을 보여 드려요.`;
    const curLatitude = storeList[curStoreID - 1].store_latitude;
    const curLongitude = storeList[curStoreID - 1].store_longitude;

    storeList.splice(curStoreID - 1, 1);
    // distList.splice(curStoreID - 1, 1);

    storeList.sort((a, b) => {
        if (a.store_dist > b.store_dist) return 1;
        else if (a.store_dist < b.store_dist) return -1;
        else return 0;
    });

    const storeListContainer = document.querySelector('.store-list-container');

    const getStoreInfo = (index, store) => {
        const storeInfo = document.createElement('div');
        storeInfo.classList += `store-info-${index}`;
        // storeInfo.setAttribute(id, store.store_id);

        const leftInfo = document.createElement('div');
        leftInfo.classList += `left-info-${index}`;
        const rightInfo = document.createElement('div');
        rightInfo.classList += `right-info-${index}`;

        const storeName = document.createElement('p');
        storeName.classList += `store-info-name-${index}`;
        storeName.textContent = store.store_name;
        const storeLocation = document.createElement('p');
        storeLocation.textContent = store.store_location;
        const storeTime = document.createElement('p');
        storeTime.textContent = '10:00 ~ 22:00';
        const storeTel = document.createElement('p');
        storeTel.textContent = store.store_number;

        leftInfo.appendChild(storeName);
        leftInfo.appendChild(storeLocation);
        leftInfo.appendChild(storeTime);
        leftInfo.appendChild(storeTel);

        storeInfo.appendChild(leftInfo);
        storeInfo.appendChild(rightInfo);

        storeInfo.addEventListener('click', () => {
            const bounds = new kakao.maps.LatLngBounds();
            bounds.extend(new kakao.maps.LatLng(store.store_latitude, store.store_longitude));
            map.setBounds(bounds);
        });

        return storeInfo;
    };

    const storeInfoList = [];
    for (let i = 0; i < storeList.length; i++) {
        storeInfoList.push(getStoreInfo(i, storeList[i]));
    }
    storeInfoList.forEach(storeInfo => storeListContainer.appendChild(storeInfo));

</script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c6cc21bd9761ce5ce0f8dbb2b7f56fb1"></script>
<script src="/js/map.js"></script>
</body>
</html>