@keyframes fold-bar {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes unfold-bar {
  0% { 
    opacity: 0; 
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

.rotate {
  transform: rotate(180deg);
}

.fold-bar { animation: fold-bar forwards .2s ease-in-out; }
.unfold-bar { animation: unfold-bar forwards .2s ease-in-out; }