#wrap {
  background-color: #FFF8E5;
  color: #2E0A0A;
  display: flex;
  flex-flow: column nowrap;
  max-height: 1500px;
  word-break: keep-all;
}
header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.title-container {
  display: flex;
  align-items: center;
}
.go-prev {
  width: 100px;
  height: 100px;
  font-size: 4.5rem;
  color: #2E0A0A;
  text-align: center;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  margin: 0;
  font-size: 4rem;
}
/*
.divide-line {
  background-image: linear-gradient(to right, #FFF8E5 30%, #FFC41E 30% 70%, #FFF8E5 70%);
  width: 100%;
  height: 4px;
  border: none;
  margin: 20px;
}
*/
.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.select-all-container {
  height: 150px;
  padding: 30px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffc41e;
  background: #ffe089;
  position: relative;
}
.select-all-btn {
  background: #fff;
  width: 64px;
  height: 64px;
  border: 3px solid #F66657;
  border-radius: 10px;
  margin-right: 30px;
  color: #F66657;
  font-size: 2.5rem;
  font-weight: 700;
}
.select-all-span {
  font-size: 2rem;
  font-weight: 900;
}
.item-row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-row {
  display: flex;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-bottom: 2px solid #FFC41E;
}
.row-left-area {
  position: relative;
  margin-right: 15px;
}
.item-thumbnail-img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.item-check-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #E93C15;
  background: #fff;
  font-size: 2rem;
  color: #E93C15;
  line-height: 0px;
}
.row-right-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
.name-area {
  display: flex;
  justify-content: space-between;
}
.name-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2E0A0A;
}
.delete-item-btn {
  margin: 0 10px 10px 10px;
  width: 36px;
  height: 36px;
  /* https://www.flaticon.com/authors/bqlqn */
  background-color: #fff;
  background-image: url('../img/trash.png');
  background-size: cover;
}
.option-text {
    font-size: 1.1rem;
}
.count-price-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[class^='m-sub-count'], [class^='m-add-count'] {
  background-color: #FFC41E;
  color: #fff;
  border: none;
  width: 40px;
  height: 45px;
  font-size: 1.5rem;
  font-weight: 700;
}
[class^='m-sub-count'] {
  border-radius: 10px 0 0 10px;
}
[class^='m-add-count'] {
  border-radius: 0 10px 10px 0;
}
[class^='m-count'] {
  text-align: center;
  color: #2E0A0A;
  background-color: #fff;
  border: none;
  width: 80px;
  height: 45px;
  font-size: 1.3rem;
  font-weight: 700;
}
.m-sub-count, .m-add-count {
  height: 60px;
  width: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.m-sub-count {
  border-radius: 20px 0 0 20px;
}
.m-add-count {
  border-radius: 0 20px 20px 0;
}
.m-count {
  width: 200px;
  height: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.price-area {
  width: 50%;
  text-align: right;
}
.price-area > * {
  margin: 5px;
}
.origin-price {
  color: #A7A4A4;
  text-decoration: line-through;
  font-size: 1.2rem;
}
.discount-price {
  color: #E93C15;
  font-weight: 700;
  font-size: 1.5rem;
}
.cart-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-page-container > * {
  margin: 15px;
}
.go-prev-page-btn, .go-next-page-btn {
  width: 60px;
  height: 60px;
  background: #2E0A0A;
  color: #fff;
  font-size: 2rem;
}
.go-prev-page-btn {
  border-radius: 10px 0 0 10px;
}
.go-next-page-btn {
  border-radius: 0 10px 10px 0;
}
.current-page {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2E0A0A;
}
.total-price-container {
  margin: 25px;
}
.total-pay {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.price-info {
  color: #2E0A0A;
  font-size: 1.5rem;
  font-weight: 700;
}
.total-pay-price {
  display: inline-block;
  margin-left: 25px;
  color: #E93C15;
  font-size: 2rem;
  font-weight: 700;
}
.cart-btn-container {
  margin: 25px;
  display: flex;
  justify-content: center;
}
.cart-btn-container > button, .delete-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  width: 200px;
  height: 80px;
  background: #FFC41E;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 20px;
}
.test-all-btn {
  background: #F66657 !important;
}
.delete-all-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #2E0A0A;
    color: #fff8e5;
}
.delete-all-btn > img {
  filter: invert(1);
}
.modal-container {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
}
.modal-background {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  width: 800px;
  height: 400px;
  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.modal-close-btn {
  color: #E93C15;
  font-size: 3.5rem;
  align-self: flex-end;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 50px;
}
.modal-content {
  font-size: 3rem;
  font-weight: 700;
  word-break: keep-all;
  text-align: center;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.display {
  display: block !important;
  animation: fade-in forwards .3s;
}