#wrap {
    background-color: #FFF8E5;
    color: #2e0a0a;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#wrap > * {
    margin: 40px 0;
}
.notice {
    font-size: 3.5rem;
    font-weight: 700;
}
.btn-container {
    display: flex;
}
.btn-container > * { margin: 0 20px; }
.btn {
    width: 180px;
    height: 80px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}
.go-login-btn { background: #f66657; }
.go-home-btn { background: #FFc41e; }