@keyframes makeVisible {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#wrap { 
  background-color: #FFFAF9; 
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-height: 100vh;
}
header {
  background-color: #2E0A0A;
  color: #FFFAF9;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
}
header > * { margin: 0 10px;}
.go-prev {
  width: 70px;
  height: 70px;
  font-size: 2.5rem;
  color: #FFFAF9;
  text-align: center;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  margin: 0;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}
.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
.item-btn {
  width: 45px;
  height: 45px;
  margin: 0 15px;
  font-size: 1.5rem;
  background: #3E4247;
  font-weight: 900;
  border-radius: 50%;
  color: #ECF2FD;
  z-index: 10;
}
.img-container {
  overflow-y: scroll;
  height: 100%;
}
*[class^="detail-img-"] {
  width: 100%;
  height: auto;
}
.btn-container {
  position: absolute;
  right: 0;
  top: 20%;
  background-color: #FFE1C5;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btn-container > * {
  margin: 5px 0;
}
.cont-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}
.btn-container > .put-in-cart {
  background-color: #FFC41E;
  background-image: url('../img/shopping-cart.png');
}
.go-test {
  background-color: #FF8569;
  background-image: url('../img/cosmetics.png');
}
.view-review {
  background-color: #44A4FE;
  background-image: url('../img/loupe.png');
}
footer {
  height: 60px;
  background-color: rgba(46, 10, 10, 1);
  color: #FFFAF9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer > p {
  font-size: 1.5rem;
  font-weight: 900;
}

.modal-container {
  position: absolute;
  bottom: 60px; left: 0;
  z-index: 10;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  background-color: rgba(64, 64, 64, .85);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  animation: makeVisible .2s ease-in-out forwards;
}
.modal {
  background-color: #fff;
  width: 80%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal > * {
  padding: 15px 0;
}
.option-container {
  background: #fff;
  width: 100%;
  padding: 30px;
}
th {
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.option-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.td-option {
  padding: 5px 0;
  cursor: pointer;
  background: #fff;
  width: 100%;
  text-align: left;
}
.soldout-btn {
  color: #E93C15;
  font-weight: 700;
}
.modal > *:first-child {
  padding-top: 50px;
}
.modal-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2E0A0A;
}
[class^='modal-option-'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5px 0;
  font-weight: 700;
  border-bottom: 2px solid #2E0A0A;
}
.modal-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border: none;
}
.goods-count-container {
  display: flex;
}
[class^='m-sub-count'], [class^='m-add-count'] {
  background-color: #A4D0F9;
  color: #2E0A0A;
  border: none;
  width: 30px;
  height: 35px;
  font-size: 1rem;
  font-weight: 700;
}
[class^='m-sub-count'] {
  border-radius: 10px 0 0 10px;
}
[class^='m-add-count'] {
  border-radius: 0 10px 10px 0;
}
[class^='m-count'] {
  text-align: center;
  color: #2E0A0A;
  background-color: #FCFCFC;
  border: none;
  width: 70px;
  height: 35px;
  font-size: 0.9rem;
  font-weight: 700;
}
.m-sub-count, .m-add-count {
  height: 60px;
  width: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.m-sub-count {
  border-radius: 20px 0 0 20px;
}
.m-add-count {
  border-radius: 0 20px 20px 0;
}
.m-count {
  width: 200px;
  height: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.modal-btn-container {
  width: 100%;
  border-radius: 30px;
  padding-bottom: 0;
}
.put-cart, .cancel {
  width: 50%;
  height: 80px;
  background-color: #fff;
  font-size: 1.8rem;
  border-top: #A4D0F9 solid 3px;
  font-weight: 900;
}
.put-cart {
  border-right: #A4D0F9 solid 3px;
  color: #2678D9;
}
.cancel {
  color: #E93C15;
}