@keyframes makeVisible {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#wrap { 
  background-color: #FFFAF9; 
  flex-direction: column;
/*  justify-content: space-between; */
  position: relative;
}
header {
  background-color: #2E0A0A;
  color: #FFFAF9;
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
}
header > * { margin: 0 10px;}
.go-prev {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: #FFFAF9;
  text-align: center;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  margin: 0;
  font-size: 2.5rem;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83.4%;
}
.item-btn {
  width: 65px;
  height: 65px;
  margin: 0 15px;
  font-size: 2rem;
  background: #3E4247;
  font-weight: 900;
  border-radius: 50%;
  color: #ECF2FD;
  z-index: 10;
}
.img-container {
  overflow-y: scroll;
  height: 100%;
}
*[class^="detail-img-"] {
  width: 100%;
  height: auto;
}
.btn-container {
  position: absolute;
  right: 0;
  top: 20%;
  background-color: #FFE1C5;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.btn-container > * {
  margin: 5px 0;
}
.cont-btn {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
}
.btn-container > .put-in-cart {
  background-color: #FFC41E;
  background-image: url('../img/shopping-cart.png');
}
.go-test {
  background-color: #FF8569;
  background-image: url('../img/cosmetics.png');
}
.view-review {
  background-color: #44A4FE;
  background-image: url('../img/loupe.png');
}
footer {
  height: 150px;
  background-color: rgba(46, 10, 10, 1);
  color: #FFFAF9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer > p {
  font-size: 2.5rem;
  font-weight: 900;
}

.modal-container {
  position: absolute;
  bottom: 150px; left: 0;
  z-index: 10;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  background-color: rgba(64, 64, 64, .85);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  animation: makeVisible .2s ease-in-out forwards;
}
.modal {
  background-color: #fff;
  width: 80%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal > * {
  padding: 15px 0;
}
.option-container {
  background: #fff;
  width: 100%;
  padding: 40px;
}
th {
  font-size: 2.5rem;
  padding-bottom: 20px;
}
.option-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.td-option {
  padding: 10px 0;
  cursor: pointer;
  background: #fff;
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
}
.soldout-btn {
  background: #E93C15;
  color: #fff;
  font-weight: 700;
}
.modal > *:first-child {
  padding-top: 50px;
}
.modal-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2E0A0A;
}
[class^='modal-option-'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5px 0;
  font-weight: 700;
  border-bottom: 2px solid #2E0A0A;
}
.modal-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border: none;
}
.goods-count-container {
  display: flex;
}
[class^='m-sub-count'], [class^='m-add-count'] {
  background-color: #FFC41E;
  color: #fff;
  border: none;
  width: 40px;
  height: 45px;
  font-size: 1.3rem;
  font-weight: 700;
}
[class^='m-sub-count'] {
  border-radius: 10px 0 0 10px;
}
[class^='m-add-count'] {
  border-radius: 0 10px 10px 0;
}
[class^='m-count'] {
  text-align: center;
  color: #2E0A0A;
  background-color: #fff;
  border: none;
  width: 80px;
  height: 45px;
  font-size: 1.2rem;
  font-weight: 700;
}
.m-sub-count, .m-add-count {
  height: 60px;
  width: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.m-sub-count {
  border-radius: 20px 0 0 20px;
}
.m-add-count {
  border-radius: 0 20px 20px 0;
}
.m-count {
  width: 200px;
  height: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.modal-btn-container {
  width: 100%;
  border-radius: 30px;
  padding-bottom: 0;
}
.put-cart, .cancel {
  width: 50%;
  height: 80px;
  background-color: #fff;
  font-size: 1.8rem;
  border-top: #A4D0F9 solid 3px;
  font-weight: 900;
}
.put-cart {
  border-right: #A4D0F9 solid 3px;
  color: #2678D9;
}
.cancel {
  color: #E93C15;
  border-top: none;
  text-align: right;
  cursor: pointer;
  font-size: 2.5rem;
}
.cancel-s {
  margin-left: 30px;
  color: #E93C15;
  border-top: none;
  text-align: right;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 900;
}
.close { text-align: right; }
.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.fold-option-btn {
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 60px;
  background: #FFC41E;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}
.option-select {
  width: 100%;
  border: 3px solid #2E0A0A;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  color: #444;
  cursor: pointer;
}
.option-select-tr {
  opacity: 0;
  height: 100px;
  margin-bottom: 50px;
}
div[class^="s-option-"] {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div[class^="s-option-"] > span {
    font-size: 1.2rem;
}

.modal-in-modal {
  display: none;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
}
.modal-background {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box {
  width: 800px;
  height: 400px;
  padding: 50px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.modal-close-btn {
  color: #E93C15;
  font-size: 3.5rem;
  align-self: flex-end;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 50px;
}
.modal-content {
  font-size: 3rem;
  font-weight: 700;
  word-break: keep-all;
  text-align: center;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.display {
  display: block !important;
  animation: fade-in forwards .3s;
}

.near-store {
    width: 600px;
    text-align: center;
}
td[class^="store-"] {
    padding: 10px 0;
    font-size: 1.7rem;
    font-weight: 500;
}