#wrap {
  background-color: #FFF8E5;
  color: #2E0A0A;
  display: flex;
  flex-flow: column nowrap;
  max-height: 1500px;
  word-break: keep-all;
}
header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.title-container {
  display: flex;
  align-items: center;
}
.go-prev {
  width: 100px;
  height: 100px;
  font-size: 4.5rem;
  color: #2E0A0A;
  text-align: center;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  margin: 0;
  font-size: 4rem;
}
.content {
    max-height: 80vh;
    overflow-y: auto;
}
.content-container {
    display: flex;
    flex-direction: column;
}
.content-container > div {
    background: #fde7a9;
    padding: 30px 50px;
    margin: 10px 0;
}
.row-list { margin-top: 0 !important; }
.row-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #2e0a0a;
}
[class^='fold-btn'] {
    background: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 0 20px;
}
.unfold {
    transform: rotate(180deg);
}
.row-goods-list {
    margin: -10px 0 !important;
    padding: 0 !important;
    display: none;
}
.cart-page-container {
    display: none;
}
.count-area {
    display: flex;
    align-items: center;
}
.count-notice {
    font-size: 1.5rem;
    font-weight: 700;
}
[class^='m-count'] {
    font-size: 1.7rem;
    font-weight: 900;
}
.row-price-info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 2rem;
}
.row-price-right-area {
    color: #E93C15;
}
footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: #fff8e5;
}
.row-notice {
    display: flex;
    align-items: center;
    padding: 20px 50px;
}
.notice-check-btn {
    width: 50px;
    height: 50px;
    border: 3px solid #e93c15;
    border-radius: 10px;
    color: #e93c15;
    margin-right: 50px;
    font-size: 2rem;
}
.notice-text {
    font-size: 1.5rem;
    word-break: keep-all;
}
.go-pay-btn {
    width: 100%;
    background: #f66657;
    color: #fff;
    height: 90px;
    font-weight: 700;
    font-size: 2rem;
}
.go-pay-btn:hover {
    background: #e93c15;
}
.modal-background { min-width: 100vw; }
.pay-way-btn {
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    background: #A4D0F9;
    color: #fff;
    border: none;
    border-radius: 15px;
}
.row-pay-way-container {
    display: none;
    background: #FFF8E5;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.show, .display {
  animation: fade-in forwards .3s;
}
.show {
    display: block !important;
}
.display {
    display: flex !important;
}