@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');
* {
  font-family: 'Noto Sans KR', 'Sans-serif';
  transition: color 0.3s;
  transition: background-color 0.3s;
  box-sizing: border-box;
}
html, body { 
  overflow-x: hidden;
  /* overflow-y: hidden; */
}    
body, p, input {
  margin: 0;
  padding: 0;
  line-height: 1;
}
/* HTML5 display-role reset for older browsers */
header, footer, section { 
  display: block; 
}
a {
  text-decoration: none;

}
::selection {
  background: #333; 
  color: rgb(0, 205, 245);
}
button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
}
#wrap {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color:rgb(0, 205, 245);
}

@media (min-width: 768px) {
  #wrap {
    max-height: 100vh;
  }
}