#wrap {
    flex-flow: column nowrap;
    color: #2E0A0A;
    position: relative;
    max-height: 100vh;
}
header {
    background-color: #2E0A0A;
    color: #FFFAF9;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}
header > * { margin: 0 10px;}
.go-prev {
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
    color: #FFFAF9;
    text-align: center;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
}
h1 {
    margin: 0;
    font-size: 1.5rem;
    text-overflow: ellipsis;
}
.rate-row {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #2E0A0A;
}
.star-rate {
    padding-right: 30px;
    font-size: 1.2rem;
}
.num-rate {
    font-weight: 700;
    font-size:  1.3rem;
}
.rate-row > .star-rate {
    margin-right: 30px;
    font-size: 1.5rem;
}
.rate-row > .num-rate {
    font-size: 2rem;
    font-weight: 700;
}
.light-color { color: #A7A4A4; }
.little-size { font-size: 1rem; }
.rate-info-row {
    width: 100%;
    min-height: 70px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2E0A0A;
    font-weight: 700;
}
.rate-info-row > .rate-count { font-size: 1.5rem; }
.review-row {
    padding: 20px;
    border-bottom: 1px solid #2E0A0A;
    margin-bottom: 20px;
}
.review-info {
    display: flex;
    height: 40px;
}
.review-container {
    height: 70%;
    overflow-y: auto;
}
.review-text {
    padding: 10px 0;
    font-size: 1.1rem;
    line-height: 1.5rem;
    word-break: keep-all
}
.review-date {
    text-align: right;
    padding: 10px 0;
}
.review-img-container { padding: 10px 0; }

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.btn-container {
    position: absolute;
    right: 0;
    top: 20%;
    background-color: #FFE1C5;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.btn-container > * {
    margin: 5px 0;
}
.cont-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}
.btn-container > .put-in-cart {
    background-color: #FFC41E;
    background-image: url('../img/shopping-cart.png');
}
.go-test {
    background-color: #FF8569;
    background-image: url('../img/cosmetics.png');
}
.view-review {
    background-color: #44A4FE;
    background-image: url('../img/loupe.png');
}