#wrap {
    /*background-color: #FFFAF9;*/
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-height: 100vh;
}
header {
    background-color: #2E0A0A;
    color: #FFFAF9;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}
header > * { margin: 0 10px;}
.go-prev {
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
    color: #FFFAF9;
    text-align: center;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
}
h1 {
    margin: 0;
    font-size: 1.5rem;
    text-overflow: ellipsis;
}