#wrap {
  color: #2E0A0A;
}
.result-container {
  padding: 40px;
  width: 100%;
  background: #FFDA73;
}
.result-text {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.result-count {
  font-size: 2rem;
  color: #E93C15;
  font-weight: 900;
}
.item-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.highlight {
  font-size: 2.5rem;
  color: #E93C15;
  font-weight: 900;
}
.item-row-container {
  margin: 0;
  width: 100%;
}
tbody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.item-card {
  width: 225px;
  margin: 10px;
}
.item-img-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.origin-price {
  width: 50%;
  margin: 0 0 -30px 0;
  padding: 10px 20px;
}
.discount-price {
  width: 50%;
  margin: 0 0 20px 20px;
  align-self: flex-end;
}
.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-result-pic {
  width: 256px;
  height: 256px;
  margin-bottom: 80px;
}
.no-result-caution {
  font-size: 2rem;
}
.no-result-btn-container {
  display: flex;
  margin: 20px;
  justify-content: space-around;
}
.no-result-btn {
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 20px;
  background: #F66657;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
}