body {
  overflow: auto;
  flex-flow: column;
  align-items: center;
}
#wrap {
  background-color: #FFF8E5;
  display: flex;
  flex-flow: column nowrap;
  min-height: 0;
  max-height: 3000px;
}
header {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.title-container {
  display: flex;
  align-items: center;
}
.go-prev {
  width: 120px;
  height: 120px;
  font-size: 4.5rem;
  color: #2E0A0A;
  text-align: center;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0);
}
h1 {
  margin: 0;
  font-size: 4rem;
}
.top-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}
.go-cart {
  margin-left: 25px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../img/shopping-cart.png');
  background-size: cover;
  width: 64px;
  height: 64px;
  font-size: 0;
}
.btn-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.btn-container > .btn {
  background: #F66657;
  color: #FFF7F0;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 20px;
  width: 180px;
  height: 80px;
  margin: 25px;
  font-size: 1.7rem;
}
.item-row {
  width: 100%;
  height: 220px;
  display: flex;
  position: relative;
}
.item-prev-btn, .item-next-btn {
  height: 220px;
  width: 80px;
  background: #F66657;
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 1.5rem;
}
.item-container {
  width: 100%;
  height: 220px;
}
div[class^='item-div-'] {
  background: #FFFFFF;
  height: 220px;
  width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button[class^='item-check-btn'] {
  width: 30px;
  height: 30px;
  border: 3px solid #F66657;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  color: #E93C15;
}
.item-select-check {
  border: #F66657 solid 2px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  cursor: pointer;
}
div[class^='item-title'] {
  color: #2E0A0A;
  text-align: center;
  font-weight: 700;
  word-break: keep-all;
  font-size: 1.1rem;
  padding: 5px;
  background: #FFF8E5;
}
.cam-container {
  align-self: center;
  width: 90%;
  min-height: 600px;
  border: #FDE7A9 3px solid;
  border-radius: 10px;
  box-shadow: #ffd966 0 4px 12px;
  background: #fff;
}
video {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg) scaleY(2.0); /* 거울 모드 */
}
#defaultCanvas0 {
  max-width: 600px;
  border: 3px solid #FFC41E;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
div[class^='item-img-container'] {
  cursor: pointer;
}
img[class^='item-img-'] {
  width: 180px;
  height: 170px;
}
div[class^='item-option-container-'] {
  position: absolute;
  top: 220px;
  left: 0;
  opacity: 0;
  word-break: keep-all;
  z-index: 10;
}
div[class^='item-option-container-'] button {
    padding: 10px;
    border-top: 2px solid #2E0A0A;
}
.show {
  opacity: 1 !important;
}