<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stores.css">
    <title>매장 정보</title>
</head>

<body>
<div id="wrap">
    <header>
        <div class="title-container">
            <button class="go-prev">&lt;</button>
            <h1 class="title">매장 정보</h1>
        </div>
        <div class="top-button-container">
            <button class="turn-on-mic" title="https://www.flaticon.com/authors/dave-gandy"></button>
            <button class="go-cart" title="https://www.freepik.com"></button>
        </div>
    </header>
    <div class="map-container">
        <div class="current-location">
            <p class="cur-location"></p>
        </div>
        <div id="map">

        </div>
    </div>
    <div class="store-list-container">

    </div>
</div>

<script src="/js/stores.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c6cc21bd9761ce5ce0f8dbb2b7f56fb1"></script>
<script src="/js/map.js"></script>
</body>

</html>