<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <div id="wrap">
        <header>
            <h1 class="title">매장 관리</h1>
        </header>
        <div class="content-container">
            <div class="store-name-container">
                <h3 class="store-name"></h3>
            </div>
            <div class="sales-container">
                <div class="today-sales-row">
                    <p class="sales-text">오늘 매출액</p>
                    <p class="sales-today"></p>
                </div>
                <div class="late-sales-row">
                    <p class="sales-text">지난 주 매출액</p>
                    <p class="sales-late"></p>
                </div>
            </div>
            <div class="item-container">
                <h3 class="notice-title">발주 필요 품목</h3>
                <div class="item-row-container">
                </div>
            </div>
        </div>
    </div>
</body>
</html>