<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- 개별 카테고리 (item 목록이 카드형식으로 배치되어 있는 화면) -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>지점 로그인</title>
</head>
<body>
  <div id="wrap">
    <header>
      <div class="title-container">
        <button class="go-prev">&lt;</button>
        <h1 class="title">지점 로그인</h1>
      </div>
    </header>
    <div class="logo-container" style="display: none;">
      <!--
        <img src="">
      -->
    </div>
    <div class="login-container">
      <form method="post" id="login_form" action=" "> <!-- action 어디로 연결하는지 여쭤보기-->
        <fieldset>
<!--          <legend class="screen_out">지점 로그인</legend>-->
          <div class="login-box">
            <input type="email" id="loginId" name="loginId" placeholder="ID" >
            <input type="password" id="loginPw" name="password" placeholder="Password" >
          </div>
          <div class="maintain-container">
            <input type="checkbox" id="keepLogin" class="check_login"  name="keepLogin">
            <label for="keepLogin" class="lab_g">
              <!-- <span class="img_top ico_check"></span> -->
              <span class="persist-login">로그인 상태 유지</span>
            </label>
          </div>
          <button type="submit" class="login-btn">로그인</button>
        </fieldset>
      </form>
    </div>
  </div>
</body>
</html>